@media print {

    .tableketidaksesuaian thead {
        border: none;
    }

    .tablekesesuaian tbody:first-child {
        border-top: 1px solid #000 !important;
    }

    .tablekesesuaian tbody:last-child {
        border-bottom: 1px solid #000 !important;
    }

}