/* .tablekesesuaian {
    font-size: 20px;
    font-weight: bold;
} */

/* @media print { */

    .tablekesesuaian tr {
        border-top: 1px solid #000 !important;
    }

    .tablekesesuaian tr {
        border-bottom: 1px solid #000 !important;
    }

/* } */