@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #4723d9;
    --first-color-light: #afa5d9;
    --white-color: #f7f6fb;
    --medBlack-color: #303030;
    --body-font: Arial, Helvetica, sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}
*,
::before,
::after {
    box-sizing: border-box;
}
body {
    position: relative;
    /* margin-left: 8% !important; */
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: 0.5s;
    background-color: #fefff4;
}
a {
    text-decoration: none;
}
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #F8FCFB !important;
    z-index: var(--z-fixed);
    transition: 0.5s;
}
.header_toggle {
    color: var(--medBlack-color);
    font-size: 1.5rem;
    cursor: pointer;
}
.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}
.header_img img {
    width: 40px;
}
.dropdown-toggle {
    background: #ffffff !important;
    color: #303030 !important;
    font-weight: 600px !important;
    
}
/* .l-navbar:hover {
    position: fixed;
    top: 0;
    width: calc(var(--nav-width) + 156px);
    height: 100vh;
    background: linear-gradient(180deg, #6dc7fe 0%, #f8ffc9 50%);
    transition: 0.5s;
    z-index: var(--z-fixed);
} */
.l-navbar {
    position: fixed;
    top: 5%;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    /* background-color: #bfe9df !important; */
    background-color: #bfe9df !important;
    /* background: linear-gradient(180deg, #6dc7fe 0%, #f8ffc9 50%); */
    padding: 0.5rem 1rem 0 0;
    transition: 0.5s;
    z-index: var(--z-fixed);
}
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav-list {
    position: fixed;
}

.nav a {
    text-decoration: none;
}
.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav_logo {
    margin-bottom: 2rem;
}
.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}
.nav_logo-name {
    color: var(--medBlack-color);
    font-weight: 700;
    margin-left: 10px;
}

.nav_name {
    margin-left: 10px;
    font-weight: 700;
    font-size: 12px;
}
.nav_link {
    position: relative;
    color: var(--medBlack-color);
    margin-bottom: 0.5rem;
    transition: 0.3s;
}
.nav_link:hover {
    color: var(--medBlack-color);
    background-color: #ffffff;
    border-radius: 10px;
    width: 200px;
    background-clip: padding-box;
    opacity: 80%;
}
.nav_icon {
    font-size: 1.25rem;
}
.show {
    left: 0;
}
/* .body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
} */
nav .active {
    color: var(--medBlack-color);
    background-color: #ffffff;
    border-radius: 10px;
    width: 200px;
    background-clip: padding-box;
}

/* header */
li.roleAuditor.disabled,
li.roleAuditee.disabled,
li.roleSPM.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.height-100 {
    height: 100vh;
}
#main-container {
    margin-top: 90px;
}
.bi {
    color: var(--medBlack-color);
    font-size: 15px;
}

.btn.btn-outline-info.pedomanApp {
    color: #419197;
    border-color: #419197;
}

.btn.btn-outline-info.pedomanApp:hover {
    color: #ffff;
    background-color: #419197;
}

/* Jadwal Audit */
.search {
    background: #b1e3e5;
    border: 1px solid #ababab;
}

.jadwalAudit .nav-tabs .nav-item button {
    color: var(--medBlack-color);
    font-weight: 600;
}

.jadwalAudit .nav-tabs button.active,
.jadwalKeseluruhan .nav-tabs button.active {
    color: var(--medBlack-color);
    background-color: #d8f3d6;
}

button.btn.btn-success.float-end,
.simpanBA button.btn.btn-success,
.form-tindakankoreksiTemuan button.btn.btn-success.simpanTK {
    background: #00d215;
    border: 1px solid #008f0e;
}

/* Ketersediaan Jadwal */
#inputKetersediaan {
    background: rgba(177, 227, 229, 0.37);
    min-height: 230px;
}
#dateInfo {
    font-size: 16px;
    font-weight: 500;
    color: #303030;
}

@media screen and (max-width: 382px) {
    #inputKetersediaan {
        min-height: 320px;
    }
}

#bookingModal span.select2.select2-container.select2-container--default,
#bookingModal span.select2.select2-container.select2-container--default.select2-container--below,
#bookingModal span.select2.select2-container.select2-container--default.select2-container--below.select2-container--open {
    width: inherit !important;
}

span.fc-title {
    color: #ffffff !important;
    padding: 10px;
}

/* Dokumen Resmi */
.card .dokresmi {
    background: #bfe9df;
}

.dokumenResmi {
    font-size: 14px;
}

@media only screen and (min-width: 280px) {
    .card.login-card {
        width: 90% !important;
        height: 50%;
        margin-top: 10% !important;
        margin-bottom: 8% !important;
    }
}

@media screen and (min-width: 480px) {
    .card.login-card {
        width: 70%;
        height: 80%;
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 11rem);
    }
    .header {
        height: calc(var(--header-height) + 3.1rem);
        padding: 0 2rem 0 0;
        justify-content: space-between;
    }
    .sidebarToggle {
        display: none;
    }
    .header_img {
        width: 40px;
        height: 40px;
    }
    .header_img img {
        width: 45px;
    }
    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }
    .show {
        width: calc(var(--nav-width) + 156px);
    }
    /* .body-pd {
        padding-left: calc(var(--nav-width) + 188px);
    } */

    /*Form Auditee*/
    #main-container input .saveAddAuditee {
        margin-right: 5rem;
    }
    .card.login-card {
        width: 55% !important;
        margin-top: 22% !important;
        margin-bottom: 8% !important;
    }

    #tableAuditor_wrapper,
    #tableAuditee_wrapper,
    #tablejadwalaudit_wrapper,
    #tableDaftarTilik_wrapper,
    #tableTemuanBA_wrapper,
    .container-pratinjau,
    #jadwalaudit_wrapper,
    #tableareaDT_wrapper {
        overflow-x: auto;
    }
}

@media screen and (min-width: 1024px) {
    /* Form Daftar Tilik */
    .inputGrupText .col-7 {
        width: 65%;
        margin-right: 0px !important;
    }
    .inputGrupText .col-4 {
        width: 30%;
        margin-left: 0px !important;
    }
    .card.login-card {
        width: 30% !important;
        max-width: 40%;
        margin-top: 12% !important;
        margin-bottom: 8% !important;
    }
    /* table#tableAreaDaftarTilik td,
    table#tableDaftarTilik td {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    } */
}

@media screen and (max-width: 1024px) {
    /* Form Daftar Tilik */
    .inputGrupText .col-7 {
        width: 100%;
        margin-right: 0px !important;
    }
    .inputGrupText .col-4 {
        width: 100%;
        margin-left: 0px !important;
    }
}

@media screen and (max-width: 450px) {
    /* Form Daftar Tilik */
    .inputGrupText .inputReferensi {
        padding-top: 24px;
    }

    .card.login-card {
        margin-top: 8% !important;
        margin-bottom: 8% !important;
    }


    /* table#tableAreaDaftarTilik,
    table#tableDaftarTilik {
        font-size: 12px !important  ;
        display: block;
        overflow-x: auto;
    }
    table#tableAreaDaftarTilik th,
    table#tableDaftarTilik th {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    } */
}

/* Berita acara */
.borderless th {
    border: none;
}
.dataDokumenBA {
    font-size: 12px;
}
.dataDokumenBA .label {
    background: #ddf5d4;
}

.dataDokBA .nav-item,
.sectionName {
    background: #bfe9df;
    border: 2px solid #75c8be;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
}

.dataDokBA .nav-link {
    color: #303030;
    font-weight: 600;
    font-size: 16px;
}

.dataDokBA .nav-tabs,
.sectionName {
    border-bottom: 2px solid #75c8be;
}

.sectionName {
    color: #303030;
}
.inputAbsen button.moreItems_add {
    margin-top: 30px;
}
.temuanAuditBA2 {
    font-size: 12px;
}

/* view temuanTindakanKoreksi */
.temuanTK,
.form-tindakankoreksiTemuan {
    font-size: 15px;
}

/* view form tindakan koreksi */
.auditorSection button.btn.btn-success.approvalAuditor,
.auditeeSection button.btn.btn-success.approvalAuditee,
.auditorSection2 button.btn.btn-success.approvalAuditor2 {
    background: #b4ddb8;
    border: 1px solid #008f0e;
    color: #008f0e;
    font-weight: bold;
}

/* tr.row.header_areadaftartilik,
tr.row.header_pertanyaandaftartilik {
    display: block;
} */

.select2-container .select2-selection--single
{
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 36px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 12px !important;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Tindakan Koreksi */
@media screen and (max-width: 768px)
{
    .formTindakanKoreksi {
        overflow-x: auto;
    }

    .headerInfo,
    .auditorSection,
    .auditeeSection,
    .auditorSection2,
    .btn-formTindakanKoreksi {
        width: 250%;
    }

    .logo {
        display: none;
    }

    .l-navbar.show {
        left: -30%;
    }

    .header {
        padding: 2rem 1rem;
    }

    .l-navbar.show.active {
        margin-left: 30%;
        width: auto;
        height: 100%;
        overflow-y: auto !important;
    }

    #tableAuditor_wrapper,
    #tableAuditee_wrapper,
    #tablejadwalaudit_wrapper,
    #tableDaftarTilik_wrapper,
    #tableTemuanBA_wrapper,
    .container-pratinjau,
    #tablejadwalkeseluruhanami_wrapper,
    #tableAreaDaftarTilik_wrapper,
    #headerPratinjau,
    #beritaacara_wrapper,
    #jadwalaudit_wrapper,
    #tableareaDT_wrapper {
        overflow-x: auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px)
{
    /* body {
        left: 25%;
    } */
    .formTindakanKoreksi {
        overflow-x: auto;
    }

    .headerInfo,
    .auditorSection,
    .auditeeSection,
    .auditorSection2,
    .btn-formTindakanKoreksi {
        
        width: 300%;
    }

    .col-8.card-jadwalami {
        width: 100%;
    }
    
    .body-card.bc-jadwalami {
        padding-left: 1rem !important; 
        padding-right: 1rem !important;
    }
}

@media screen and (max-width: 320px)
{
    .formTindakanKoreksi {
        overflow-x: auto;
    }

    .headerInfo,
    .auditorSection,
    .auditeeSection,
    .auditorSection2,
    .btn-formTindakanKoreksi {
        width: 500%;
    }
}

/* Daftar Tilik */

.tox .tox-statusbar {
    display: none !important;
}

iframe#auditeeindikatorMutu_ifr,
iframe#auditeepertanyaan_ifr {
    background-color: #e9ecef !important;
}