iframe#auditeeindikatorMutu_ifr,
iframe#auditeepertanyaan_ifr {
    background-color: #e9ecef !important;
}

/* .tox .tox-edit-area__iframe {
    background-color: #e9ecef !important;
} */

/* User */
.btn.btn-sinkron-data,
.btn.btn-sinkron-data:hover,
.bg-sinkron-data {
    background-color: #00d215 !important;
}